In [1]:
import pandas as pd
df=pd.read_csv("C:\\Users\\GPT BANTWAL\\Desktop\\data.csv")
df

   height  weight  color  age
0     2.0     3.0    red    2
1     6.0     8.0    NaN   10
2     NaN     NaN  black    6
3     4.0     NaN  brown    7
4     8.0    12.0  black    4
5     3.0     4.0    NaN    1
6     4.0     4.0  green    2
7     1.0     1.0    NaN    3